# macOS
.DS_Store

# Agents
.claude/settings.json

# Python
.venv/

# web2md HTML fetch cache
web2md/cache/
web2md/__pycache__/

# md input folder
# md/*

# okf output folder
okf/*
!okf/
!okf/.okflintrc.json